
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img style="height: 5rem;width:13rem"  src="../../../assets/Screenshot (9).png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ps-5" >
            <a class="nav-link active" style="color: #06867b;" aria-current="page" routerLink="welcome">Home</a>
          </li>
          <li class="nav-item ps-5">
            <a class="nav-link" style="color: #06867b;" (click)="navigateToLogin()">SignOut</a>
          </li>
          <li class="nav-item ps-5">
            <a class="nav-link" style="color: #06867b;" routerLink="profile">Profile</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-2">
      <div class="row ms-3">
        <div class="col-12 fw-bolder fs-6 mt-5 pt-1 pb-1 " style="background-color: teal;border-radius: 10px;" routerLink="profile" >Profile</div>
          <div class="col-12 fw-bolder fs-6 mt-5 pt-1 pb-1 " style="background-color: teal; border-radius: 10px;" (click)="navigateToRegister()">Register/Edit Employee</div>
          <div class="col-12 fw-bolder fs-6 mt-5 pt-1 pb-1  " style="background-color: teal;border-radius: 10px;" (click)="navigateToEmployeeTasks()">Employee tasks</div>
          <div class="col-12 fw-bolder fs-6 mt-5 pt-1 pb-1 " style="background-color: teal;border-radius: 10px;" (click)="navigateToLogin()">SignIn/SignOut</div>
          
      </div>
        
    </div>
    <div class="col-10"><router-outlet></router-outlet></div>
  </div>

 