<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10" style="align-items: center;">
              
                    <div class="log">
                         
                        <div class="card logcard rr">
                            <form action="" >
                                <div class="logpad">
                                    <div>
                                        <span class="p-float-label" >
                                            <span class="fw-bold">
                                                username: &nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                     <span class="fw-bold">{{employee.username}}</span>
                                </span>
                                    </div><br>
                                    <div>
                                        <span class="p-float-label" >
                                            <span class="fw-bold">password: &nbsp;&nbsp;&nbsp;&nbsp; 
                                            </span>
                                    <span class="fw-bold">{{employee.password}}</span>
                                </span>
                                    </div><br>
                                    <div>
                                        <span class="p-float-label" >
                                            <span class="fw-bold">email: &nbsp;&nbsp;&nbsp;&nbsp;  
                                            </span>
                                    <span class="fw-bold">{{employee.email}}</span>
                                </span>
                                    </div>
                                
                                </div>
                                <!-- <div class="logpad">
                                <span class="p-float-label">
                                    <input id="float-input" class="form-control" formControlName="password"  type="password" pInputText > 
                                    <label for="float-input" style="color: #06867b;">Password</label>
                                </span>
                                </div> -->
                                
                                <!-- <div class="logbtn" style="margin-bottom:10rem;">
                                    <button class="btn logbtn1">CHANGE PASSWORD</button>
                                </div> -->
                               
                                
                            </form>
                            
                            </div>
                     </div>
                    </div>
            </div>
        </div>
  </main>